@use "../../foundation/variables";


.card {
    background-color: variables.$card-bg;
    border-radius: variables.$border-radius-lg;
    width: variables.$card-width;

    &__item {
        margin-inline: auto;
        width: 80%;
        list-style: none;
    }
}