@use "../../foundation/variables";
@use "../../foundation/mixins";

.card {
    border-radius: variables.$border-radius-lg;
    width: variables.$card-width;

    &--todo {
        background-color: variables.$card-todo-bg;
    }

    &--doing {
        background-color: variables.$card-doing-bg;
    }

    &--done {
        background-color: variables.$card-done-bg;
    }

    &__title {
        @include mixins.border-top-radius(variables.$border-radius-lg);
        text-align: center;
        padding: variables.$card-title-padding;
    }

    &__item {
        border-radius: variables.$border-radius;
        margin-inline: auto;
        padding: variables.$card-item-padding;
        margin: variables.$card-item-margin;
        list-style: none;
        background-color: variables.$card-item-bg;
        position: relative;
    }

    &__del-btn{
        position: absolute;
        top: variables.$del-btn-top;
        right: variables.$del-btn-right;
    }
}