@use "../foundation/variables" as v;
@use "../foundation/function";

.main-header {
  flex-shrink: 0;
  background-color: v.$header-bg;
  color: v.$white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: v.$z-index-header;

  &__heading {
    padding: v.$main-header-heading-padding-y v.$main-header-heading-padding-x;
    font-weight: v.$font-weight-semibold;
    letter-spacing: v.$letter-spacing-base;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__sort-btn {
    height: fit-content;
    margin-right: v.$main-header-sort-btn-margin-right;
    background-color: v.$header-bg;
    color: v.$white;
    border-radius: v.$border-circle;
    display: flex;
    justify-content: center;
    align-items: center;
    height: v.$sort-btn-size;
    aspect-ratio: 1;

    &:hover {
      background-color: v.$sort-btn-hover-bg;
    }

    &:active {
      background-color: v.$sort-btn-active-bg;
    }
  }

  &__sort-btn-icon {
    height: v.$sort-btn-icon-size;
    aspect-ratio: 1;
  }
}
