@use "../foundation/variables";

.task-actions {
    margin-bottom: variables.$task-actions-margin-bottom;
}

.task-board {
    background-color: variables.$task-board-bg;
    display: flex;
    justify-content: space-evenly;
}