@use "../foundation/variables";

.main-body {
    min-height: variables.$main-body-height;
}

.task-actions {
    height: variables.$task-actions-height;
}

.task-board {
    height: variables.$task-board-height;
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}