@use "../foundation/variables" as v;

.main-body {
  flex: 1;
  // ヘッダー分の高さを差し引く
  min-height: calc(v.$body-height - v.$header-height);
  display: flex;
  padding: v.$spacing-lg;
  justify-content: space-evenly;
  align-items: stretch;
}
